main {
    min-height: calc(100vh - 160px);
  }

.imagen {
  width: 170px;
  margin: 25px;
}

.col {
  margin: 15px;
  display: block;
}

#contenedor {
  display: flex;
  flex-wrap: wrap;
}