* {
    color: aliceblue;
}

.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

#offcanvasTopLabel{
    border: 0.05cm;
    border-style: solid;
    border-radius: 0.5cm;
    margin: 0.2cm;
    padding: 0.2cm;
}

#generos {
    border: 0.02cm;
    border-style: solid;
    border-radius: 0.5cm;
    border-color: dimgray;
    margin: 0.2cm;
    padding: 0.2cm;
}